[global]

  # netbios name = Member1
  workgroup = {{ smb_workgroup }}
  security = ADS
  realm = {{ smb_realm }}
  encrypt passwords = yes

  idmap config *:backend = tdb
  idmap config *:range = 70001-80000
  idmap config {{ smb_realm }}:backend = ad
  idmap config {{ smb_realm }}:schema_mode = rfc2307
  idmap config {{ smb_realm }}:range = 500-40000

  winbind nss info = rfc2307
  winbind trusted domains only = no
  winbind use default domain = yes
  winbind enum users  = yes
  winbind enum groups = yes

  vfs objects = acl_xattr
  map acl inherit = Yes
  store dos attributes = Yes

  ## Performance Tuning ##
  socket options=SO_RCVBUF=131072 SO_SNDBUF=131072 IPTOS_LOWDELAY SO_KEEPALIVE TCP_NODELAY
  min receivefile size = 16384
  use sendfile = yes
  aio read size = 32768
  aio write size = 32768
